


<div style="text-align: center;">
    <h1>Invento Web Server Is Running</h1>
    <h3>Invento REST APIs</h3>
    <p><i>https://inventomodel2.herokuapp.com/admin</i></p>
    <p><i>https://inventomodel2.herokuapp.com/loginadmin</i></p>
    <p><i>https://inventomodel2.herokuapp.com/appusers/id</i></p>
    <p><i>https://inventomodel2.herokuapp.com/webusers/id</i></p>
    <p><i>https://inventomodel2.herokuapp.com/webuserlogin/id</i></p>
    <p><i>https://inventomodel2.herokuapp.com/inventory/id</i></p>
    <p><i>https://inventomodel2.herokuapp.com/barcodes/id</i></p>
    <p><i>https://inventomodel2.herokuapp.com/categories/id</i></p>
    <p><i>https://inventomodel2.herokuapp.com/products/id</i></p>
    <p><i>https://inventomodel2.herokuapp.com/businesslocations/id</i></p>
    <h4> Thankyou !</h4>
</div>